@{
  Layout = "_Layout";
}

@using TravelBlogMVC.Models;
@using System.Security.Claims
@model IEnumerable<TravelBlogMVC.Models.Review>

<h1>Reviews for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Review review in Model)
    {
      <li>@Html.ActionLink($"{review.Description}", "Details", new { id = review.ReviewId })</li>
    }
  </ul>
} 
else
{
  <h3>No reviews have been added yet!</h3>
}

<p>@Html.ActionLink("Add new review", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
