@{
  Layout = "_Layout";
}

@using TravelBlog.ViewModels

@model LoginViewModel

<h2>Please sign in below:</h2>
<hr/>
@using(Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.PasswordFor(m => m.Password)

  <input type="submit" value="Login" class="btn btn-success"/>

}