@{
  Layout = "_Layout";
}

<h1>Welcome to Your Travel Blog!</h1>
<p>@Html.ActionLink("See all Destinations", "Index", "Destinations")</p>
<p>@Html.ActionLink("See all Reviews", "Index", "Reviews")</p>
<p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
